# Lab 2 - Spark SQL
This Lab will show you how to work with Spark SQL

# Step 1

<h3>Getting started: Create a SQL Context</h3>

<b>Type:</b>


from pyspark.sql import SQLContext<br>
sqlContext = SQLContext(sc)

In [1]:
#Create the SQLContext below:

# Step 2

<h3>Dowload a JSON Recordset to work with</h3>

Let's download the data, we can run commands on the console of the server (or docker image) that the notebook enviroment is using. To do so we simply put a "!" in front of the command that we want to run. For example:

!pwd

To get the data we will download a file to the enviroment. Simple run these two commands, the first just ensures that the file is removed if it exists:

!rm world_bank.json.gz -f <br>
!wget https://raw.githubusercontent.com/bradenrc/sparksql_pot/master/world_bank.json.gz

In [3]:
#enter the commands to remove and download file here

# Step 3
<h3>Create a Dataframe</h3>

Now you can create the Dataframe, note that if you wanted to see where you downloaded the file you can run !pwd or !ls

To create the Dataframe type:

example1_df = sqlContext.read.json("./world_bank.json.gz")

In [6]:
#create the Dataframe here:

<h3>We can look at the schema with this command:</h3>

example1_df.printSchema()

In [7]:
#print out the schema

<h3>Dataframes work like RDDs, you can map, reduce, groupby, etc. 
<br>Take a look at the first two rows of data using "take"</h3>

In [9]:
#Use take on the dataframe to pull out 2 rows

# Step 4 
<h3>Register a table</h3>

Using
DataframeObject.registerTempTable("name_of_table")

Create a table named "world_bank"

In [11]:
#Create the table to be referenced via SQL

# Step 5
<h3>Writing SQL Statements</h3>
Using SQL Get the first 2 records
sqlContext.sql("SQL Statement") will return a Dataframe with the records

In [1]:
#Use SQL to select from table limit 2 and print the output

In [2]:
#Extra credit, take the Dataframe you created with the two records and convert it into Pandas

In [3]:
#Now Calculate a Simple count based on a group, for example "regionname"

In [12]:
# With JSON data you can reference the nested data
# If you look at Schema above you can see that Sector.Name is a nested column
# Select that column and limit to reasonable output (like 2)

print sqlContext.sql("select id, sector.Name from world_bank limit 2").collect()

[Row(id=u'P129828', Name=[u'Primary education', u'Secondary education', u'Public administration- Other social services', u'Tertiary education']), Row(id=u'P144674', Name=[u'Public administration- Other social services', u'General public administration sector'])]

# Step 6

<h3>Creating simple graphs</h3>
Using Pandas we can do create some simple visualizations.

#### First create a SQL statement that is a resonable number if items
For example, you can count the number of projects (rows) by countryname
<br>or in anothe words: 
<br>count(*), countryname from table group by countryname

In [21]:
# we need to tell the charting library (matplotlib) to display charts inline
# just run this paragraph
%matplotlib inline 
import matplotlib.pyplot as plt, numpy as np

In [22]:
# first write the sql statment and look at the data, remember to add .toPandas() to have it look nice
# an even easier option is to create a variable and set it to the SQL statement
# for example: 
# query = "select count(*) as Count, countryname from world_bank group by countryname"
# chart1_df = sqlContext.sql(query).toPandas()
# print chart1_df

In [23]:
# now take the variable (or same sql statement) and use the method:
# .plot(kind='bar', x='countryname', y='Count', figsize=(12, 5))